# Scenario 1

In [0]:
CREATE TABLE Employee (
    emp_id INT,
    emp_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    join_date DATE
);

In [0]:
INSERT INTO Employee VALUES (101, 'John', 'HR', 50000, '2020-01-15');
INSERT INTO Employee VALUES (102, 'Alice', 'IT', 60000, '2021-03-10');
INSERT INTO Employee VALUES (103, 'Bob', 'Finance', 55000, '2020-11-20');
INSERT INTO Employee VALUES (104, 'Carol', 'IT', 62000, '2022-02-05');
INSERT INTO Employee VALUES (105, 'Eve', 'HR', 52000, '2021-07-12');

In [0]:
select * from employee;

In [0]:
-- find employees who joined after 2021-01-01
select * from employee where join_date > '2021-01-01';

In [0]:
--Retrieve the highest salary from each department
select department, max(salary) from employee
group by department;

In [0]:
-- Get the department-wise employee count.
select department,count(1) from employee
group by department;

In [0]:
-- Find the second highest salary in the IT department.
select department, max(salary) from employee
where salary < (select max(salary) from employee where department = 'IT') and department = 'IT'
group by department;

In [0]:
--List employees whose name starts with 'A
select * from employee where emp_name like 'A%';

In [0]:
drop table employee;

# Scenario 2

In [0]:
CREATE TABLE Customers (
    customer_id INT,
    customer_name VARCHAR(50),
    city VARCHAR(50)
);

CREATE TABLE Orders (
    order_id INT,
    customer_id INT,
    order_date DATE,
    amount INT
);

In [0]:
INSERT INTO Customers VALUES (201, 'John', 'New York');
INSERT INTO Customers VALUES (202, 'Alice', 'Chicago');
INSERT INTO Customers VALUES (203, 'Bob', 'Boston');
INSERT INTO Customers VALUES (204, 'Carol', 'New York');

INSERT INTO Orders VALUES (1, 201, '2023-01-10', 1000);
INSERT INTO Orders VALUES (2, 202, '2023-01-15', 2000);
INSERT INTO Orders VALUES (3, 201, '2023-02-05', 1500);
INSERT INTO Orders VALUES (4, 203, '2023-03-10', 2500);
INSERT INTO Orders VALUES (5, 204, '2023-03-15', 3000);

In [0]:
select * from customers;

In [0]:
select * from orders;

In [0]:
--Get the total sales amount for each customer.
select customer_id, sum(amount) as total_sales from orders
group by customer_id;

In [0]:
--List customers who placed more than one order.

select customer_id, count(order_date) as order_count from orders
group by customer_id
having order_count > 1;

In [0]:
--Retrieve customer names along with their total order amount.
select c.customer_name,sum(o.amount) from orders o
inner join customers c using (customer_id)
group by c.customer_name;

In [0]:
--Find customers who haven't placed any orders.
select c.customer_id,c.customer_name, o.order_date from customers c
full outer join orders o using (customer_id)
where c.customer_id is null or o.customer_id is null

In [0]:
--Identify the top 2 cities based on sales amount.

select c.city, sum(o.amount) from customers c
inner join orders o using (customer_id)
group by c.city
order by sum(o.amount) desc
limit 2;

In [0]:
drop table customers;
drop table orders;

In [0]:
CREATE TABLE Products (
    product_id INT,
    product_name VARCHAR(50),
    category VARCHAR(50),
    price INT
);

CREATE TABLE Orders (
    order_id INT,
    product_id INT,
    customer_id INT,
    quantity INT,
    order_date DATE
);

In [0]:
INSERT INTO Products VALUES (101, 'Laptop', 'Electronics', 1000);
INSERT INTO Products VALUES (102, 'Mobile', 'Electronics', 700);
INSERT INTO Products VALUES (103, 'Shoes', 'Fashion', 200);
INSERT INTO Products VALUES (104, 'Watch', 'Fashion', 150);
INSERT INTO Products VALUES (105, 'Headphones', 'Electronics', 300);

INSERT INTO Orders VALUES (1, 101, 201, 2, '2023-01-10');
INSERT INTO Orders VALUES (2, 103, 202, 1, '2023-01-15');
INSERT INTO Orders VALUES (3, 102, 201, 1, '2023-02-05');
INSERT INTO Orders VALUES (4, 104, 203, 3, '2023-03-10');
INSERT INTO Orders VALUES (5, 105, 204, 2, '2023-03-15');

In [0]:
select * from orders;

In [0]:
select * from products;

In [0]:
-- Find the total revenue generated for each category.
select p.category, sum(p.price * o.quantity) as total_revenue from products p
inner join orders o  using (product_id)
group by p.category

In [0]:
--List the top 3 products by revenue.
/*with product_revenue as (
  select p.product_name, sum(p.price * o.quantity) as total_revenue
  from products p
  inner join orders o using (product_id)
  group by p.product_name
),
ranked_products as (
  select product_name, total_revenue, rank() over (order by total_revenue desc) as rnk
  from product_revenue
)
select product_name, total_revenue
from ranked_products
where rnk <= 3;*/

SELECT p.product_name, SUM(o.quantity * p.price) AS revenue
FROM Products p
JOIN Orders o ON p.product_id = o.product_id
GROUP BY p.product_name
ORDER BY revenue DESC
LIMIT 3;

In [0]:
--Get the average order amount for each customer.
/*with maincount as
(select o.customer_id, sum(p.price * o.quantity) as total_spent, count(o.customer_id) as order_count from orders o
inner join products p using (product_id)
group by customer_id
)
select customer_id, total_spent/order_count as avg_order_amount from maincount */

SELECT o.customer_id, AVG(o.quantity * p.price) AS avg_order_amount
FROM Orders o
JOIN Products p ON o.product_id = p.product_id
GROUP BY o.customer_id;

In [0]:
--Identify customers who bought more than 1 product.
/* select customer_id,count(1) from orders
group by customer_id
having count(1) > 1 */

SELECT customer_id, COUNT(DISTINCT product_id) AS product_count
FROM Orders
GROUP BY customer_id
HAVING COUNT(DISTINCT product_id) > 1;

In [0]:
--Retrieve the product category with the highest sales amount.
/* with product_revenue as (
select p.category, sum(p.price * o.quantity) as total_revenue from products p
inner join orders o  using (product_id)
group by p.category),
ranked_categories as (
select category, rank() over (order by total_revenue desc) as rnk from product_revenue)
select * from ranked_categories where rnk = 1 */

SELECT p.category, SUM(o.quantity * p.price) AS total_sales
FROM Products p
JOIN Orders o ON p.product_id = o.product_id
GROUP BY p.category
ORDER BY total_sales DESC
LIMIT 1;

In [0]:
drop table products;
drop table orders;

# More complex scenarios

In [0]:
CREATE TABLE Attendance (
    emp_id INT,
    login_time TIMESTAMP,
    logout_time TIMESTAMP
);

In [0]:
INSERT INTO Attendance VALUES (101, '2023-03-01 09:00:00', '2023-03-01 18:00:00');
INSERT INTO Attendance VALUES (102, '2023-03-01 10:00:00', '2023-03-01 17:00:00');
INSERT INTO Attendance VALUES (101, '2023-03-02 09:30:00', '2023-03-02 18:00:00');
INSERT INTO Attendance VALUES (102, '2023-03-02 10:00:00', '2023-03-02 17:30:00');

In [0]:
select * from attendance;

In [0]:
--Calculate total working hours for each employee.
select emp_id,date_format(login_time,'yyyy-MM-dd') as todays_date ,date_diff(hour,login_time,logout_time) as hours_worked from attendance
order by todays_date 
/*
SELECT emp_id, SUM(TIMESTAMPDIFF(HOUR, login_time, logout_time)) AS total_hours
FROM Attendance
GROUP BY emp_id;*/

In [0]:
--Get the employee who worked the most hours on each day.

with daily_work_hours as (
  select emp_id,date_format(login_time,'yyyy-MM-dd') as todays_date ,date_diff(hour,login_time,logout_time) as hours_worked from attendance
),
max_hours_worked as (
  select emp_id, todays_date, rank() over (partition by todays_date order by hours_worked desc) as rnk from daily_work_hours
)
select * except(rnk) from max_hours_worked where rnk = 1

In [0]:
--Calculate running total working hours for each employee using window functions.

with daily_work_hours as (
select emp_id, date_format(login_time,'yyyy-MM-dd') as todays_date,date_diff(hour,login_time,logout_time) as hours_worked from attendance
)
select emp_id, todays_date,sum(hours_worked) over (partition by emp_id order by todays_date) as running_total from daily_work_hours;

In [0]:
CREATE TABLE Transactions (
    txn_id INT,
    customer_id INT,
    txn_date DATE,
    amount INT
);

INSERT INTO Transactions VALUES (1, 201, '2023-01-10', 1000);
INSERT INTO Transactions VALUES (2, 201, '2023-01-15', 2000);
INSERT INTO Transactions VALUES (3, 202, '2023-01-20', 1500);
INSERT INTO Transactions VALUES (4, 202, '2023-01-25', 500);
INSERT INTO Transactions VALUES (5, 201, '2023-02-01', 3000);

In [0]:
select * from transactions;

In [0]:
--Find the cumulative amount for each customer ordered by txn_date.
select customer_id, txn_date ,sum(amount) over (partition by customer_id order by txn_date) as cumulative_amount from transactions;

In [0]:
--Identify the highest transaction amount for each customer using window functions.
select customer_id, amount from
(select *, rank() over (partition by customer_id order by amount desc) as rank from transactions)x
where x.rank = 1;

In [0]:
--Rank transactions for each customer based on amount.
select customer_id, txn_date, amount from 
(select *, rank() over (partition by customer_id order by amount desc) as rank from transactions)x
order by customer_id,amount desc;