In [0]:
manager_data = [(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

In [0]:
manager_schema = ['id', 'name', 'salary', 'mngr_id']

In [0]:
manager_df = spark.createDataFrame(data=manager_data, schema=manager_schema)

In [0]:
data1 = data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

schema1 = ['id', 'name', 'salary', 'mngr_id']

manager_df1 = spark.createDataFrame(data=data1, schema=schema1)

In [0]:
manager_df.union(manager_df1).show()

In [0]:
manager_df.union(manager_df1).count()

In [0]:
manager_df.unionAll(manager_df1).show()

In [0]:
manager_df.unionAll(manager_df1).count()

In [0]:
duplicate_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(18,'Sam',55000, 17),
(18,'Sam',65000, 17)]

schema = ['id', 'name', 'salary', 'mngr_id']

duplicate_manager_df = spark.createDataFrame(data=duplicate_data, schema=schema)

In [0]:
duplicate_manager_df.show()

In [0]:
duplicate_manager_df.union(manager_df).count()

In [0]:
duplicate_manager_df.unionAll(manager_df).count()

union and unionall is same in spark
but in sql union and unionall is different

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_schema = ['id', 'salary', 'mngr_id', 'name']

wrong_df = spark.createDataFrame(data=wrong_column_data, schema=wrong_schema)

In [0]:
manager_df1.union(wrong_df).show()

In [0]:
manager_df1.unionByName(wrong_df).show()

unionby name would fail if column names are not same

union would work always