In [0]:
emp_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

emp_schema = ['id','name','salary','dept']

emp_df = spark.createDataFrame(emp_data, schema=emp_schema)

1. Total salary given to its employees
2. Total salary per department wise

In [0]:
from pyspark.sql.functions import col,sum

In [0]:
emp_df.groupBy('dept')\
    .agg(sum(col('salary'))).show()

In [0]:
new_emp_data = [(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]

new_emp_schema = ['id','name','salary','dept','country']

new_emp_df = spark.createDataFrame(new_emp_data, schema=new_emp_schema)

In [0]:
new_emp_df.show()

In [0]:
new_emp_df.groupBy('dept','country').agg(sum(col('salary'))).show()