In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ['id','name','age','salary','country','department']

emp_df = spark.createDataFrame(data=emp_data, schema=emp_schema)

emp_df.show()

In [0]:
emp_df.withColumn('adult',when(col('age')<18,'No')
                  .when(col('age')>=18,'Yes')
                  .otherwise('None')).show()

In [0]:
emp_df.withColumn('age',when(col('age').isNull(),lit(19)).otherwise(col('age')))\
    .withColumn('adult',when(col('age')>18,'Yes').otherwise('No')).show()

In [0]:
emp_df.withColumn('age_wise',when((col('age')>0) & (col('age')<18),'minor')
                  .when((col('age')>18) & (col('age')<30),'Mid')
                  .otherwise('Adult')).show()